* {
    margin: 0;
    padding: 0;
}

.titre {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    color: silver;
}

.firsthr {
    width: 60%;
    margin: auto;
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, green, #ccc);
}

.secondhr {
    width: 60%;
    margin: auto;
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, orange, #ccc);
}

p {
    width: 100px;
    margin-right: 150px;
}

.amis {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

button {
    background-color: gray;
    margin-left: 10px;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.btn-supp:hover {
    background-color: firebrick;
}

.btn-add:hover {
    background-color: rgb(164, 255, 128);
}

.titre {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    color: silver;
    height: 50px;
}

.ajout {
    margin-top: 20px;
    height: 50px;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

.ajout p {
    color: orange;
    padding-right: 50px;
    width: 10%;
}